<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wasn.activities"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:name="com.wasn.application.MobileBankApplication"
        android:icon="@drawable/m_icon"
        android:label="@string/app_name">
        <activity
            android:name=".MobileBankActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".TransactionDetailsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".ClientDetailsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".TransactionActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".SettingsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".ClientListActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".DownloadActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".TransactionListActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".SummaryDetailsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".BalanceQueryActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".BalanceResultActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <service
        android:name=".services.RemoteSenzService"
        android:enabled="true"
        android:process=":remote">
        <intent-filter>
            <action android:name="com.score.senz.services.RemoteSenzService" />
        </intent-filter>
    </service>

    <receiver android:name=".receivers.BootCompleteReceiver">
        <intent-filter>
            <action android:name="com.score.senz.senzservice" />
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
    </receiver>

    <receiver android:name=".receivers.SenzReceiver">
        <intent-filter>
            <action android:name="com.score.senz.NEW_SENZ" />
        </intent-filter>
    </receiver>

    <receiver
        android:name=".receivers.AlarmReceiver"
        android:process=":remote">
    </receiver>

</manifest>
